.saved-recipes-container {
    background-image: url("./Images/cookbook.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    max-width: 1500px;
    width: 100%;
    min-height: 100vh; /* Use min-height instead of height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    line-height: 1.2;
}

.recipe-index {
    width: 50%;
    position: absolute; /* Add absolute positioning */
    top: 50%; /* Position it 50% from the top */
    left: 15%; /* Adjust the left positioning as needed */
    width: 30%;
    transform: translateY(-50%); /* Center it vertically */
    max-width: 350px; 
    max-height: 410px;
    background-color: pink;
    overflow: auto;
}


.recipe-show {
    width: 50%;
    position: absolute; /* Add absolute positioning */
    top: 50%; /* Position it 50% from the top */
    right: 15%; /* Adjust the right positioning as needed */
    width: 30%;
    transform: translateY(-50%); /* Center it vertically */
    max-width: 400px; 
    max-height: 410px;
    background-color: yellow;
    overflow: auto;
}

.recipe-index p,
.recipe-show p {
    white-space: normal; /* Allow text to wrap */
}